<div class="animated ">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">    @ViewBag.Title </strong>
                </div>
                <div class="card-body">
                    
                    <a href="#">test</a>

                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number Of Use</th>
                                <th>Status</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>




</div>


