@model ucarkadir.Models.User

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-form">
    
    @using (Html.BeginForm("ForgetPassword", "Admin", FormMethod.Post))
    {
         @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Email address</label>
            @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", placeHolder = "Lütfen EPosta adresini giriniz" })
            @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })

        </div>

        <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>


    }
    
    
        

    


</div>
